body {
    font-family: 'Roboto', sans-serif;
    background: rgba(26, 91, 199, 0.6);
    color: red;
    font-size: 20px;
}

main {

}

h1 {
    color: green;
    width: 1px;
    font-size: 25
}

p {
font-size: 20px;
}

font-size: 20px;

h2 {
    font-size: 15
}


