body {
  font-family: "Roboto", sans-serif;
  background: rgba(178, 184, 196, 0.6);
  color: red;
  font-size: 20px;
}


li {
  list-style-type: none;
}

h1 {
  color: green;
  font-size: 40px;
}

p {
  font-size: 20px;
}

h2 {
  font-size: 15;
}

figure {
  margin: 25px auto;
  width: 100vw;
  text-align: center;
}

section {
  font-size: 10px;
}

img {
  max-width: 100%;
}

nav {
  background-color: white;
}

nav > ul {
  display: flex;
  margin: 0;
  padding: 10px 0;
  background: white;
}

ul {
  padding: 0;
  justify-content: space-between;
}

.dropdown ul {
  display: none;
  border-radius: 0 0 3px 3px;
  display: none;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  padding: 8px;
  position: absolute;
}

/* generally, 'focus' goes with 'hover'*/
.dropdown:focus ul,
.dropdown:hover ul {
  display: flex;
  flex-direction: column;
}

/* Responsive image is limited to the width of its parent */

/* hero */
header {
  background-image: url(https://picsum.photos/960/550);
  background-size: cover;
  height: 80vh;
  /* background-repeat: no-repeat;
    background-position: top center; */
}

header div {
  background: rgba(34, 69, 138, 0.6);
  width: 100%;
}
header,
header div {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* main */
main {
  display: flex;
  justify-content: space-around;
}

main > section {
  background: white ;
  margin: 10px;
  padding: 15px;
  color: red;
}

main section h2 {
  font-weight: bold;
  text-transform: uppercase;
}

.cta-btn {
  background: red;
  padding: 10px;
  margin: 10px 0;
  display: inline-block;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.25s;
}


.cta-btn:focus,
.cta-btn:hover {
background: cyan;
transform: translateY(-3px);
}

/* footer */
footer li {
  display: inline-block;
}

/* form */

form {
  margin: 15px auto;
  width: 60vw;
  border: solid 3px white;
}

span form {
  margin: 0 20px;
}

/* attribute selector */
input[type="checkbox"] {
  margin-right: 10px;
  transform: translateY(-3);
}

input [type="radio"] {
  transform: translateY(-3);
}

.input-group--flex {
  flex-direction: column;
  display:flex;
  margin: 5px;
  
}