body {
    font-family: 'Roboto', sans-serif;
    background: rgba(26, 91, 199, 0.6);
    color: red;
    font-size: 20px;
}

main {

}

li {
    list-style-type: none;
}

h1 {
    color: green;
    width: 1px;
    font-size: 40px;
}

p {
font-size: 20px;
}

font-size: 20px;

h2 {
    font-size: 15
}

figure {
    margin: 25px auto;
    width: 50px;
    text-align: center
}

/* Responsive image is limited to the width of its parent */
